.bandeiraArgentina {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  height: 350px;
  width: 600px;
  left:50%;
  top:50%;
  margin-left:-300px; /* Metade do valor da Largura */
  margin-top:-175px; /* Metade da valor da Altura */
  position:absolute;
}

img {
  width: 100px;
  height: 100px;
}

.faixa {
  height: 33.333%;
  width: 100%;
  background-color: #5E92BF;
}

.branca {
  display: flex;
  background-color: #DCE6F2;
  align-items: center;
  justify-content: center;
}

